*.pyc
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 
# Ignore virtual environment directories
.venv/

# Ignore log files
*.log
# Ignore temporary files
*.tmp*.csv
Data/
Data/streaming/
