*.pyc
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 
# Ignore virtual environment directories
.venv/
.venv310/

# Ignore log files
*.log
# Ignore temporary files
*.tmp*.csv
Data/streaming/
Data/processed/XAUUSD_1m_features.csv
